
  body{
    background-color:#bbe1fa;
  }
  hr{
    border-style: dotted none none;
    border-width: 5px;
    width: 30%;
  }
  h1{
    color: #3282b8;
  }
  h3{
    color: #3282b8;
  }
